{
    "alerts_severity": "",
    "new_incident_name": "System %s is experiencing issues",
    "new_incident_message": "We are currently investigating an issue affecting this service. Updates will be provided as more information becomes available.",
    "resolved_incident_message": "The outage has been resolved and services have resumed their normal functionalities.",
    "recurring_alert_update_message": "The issue is still being investigated. We continue to monitor the situation.",
    "cachet_per_page_param": 50,
    "groups_configuration": [
        {
            "status_page_group": "Web Services",
            "status_page_components": [
                "Web Server"
            ]
        },
        {
            "status_page_group": "Database Services",
            "status_page_components": [
                "Database"
            ]
        },
        {
            "status_page_group": "Backend Services",
            "status_page_components": [
                "Backend",
                "API Services"
            ]
        }
    ]
}
